[package]
name = "models"
version = "0.1.0"
edition = "2021"

[dependencies]
serde = { workspace = true }
serde_json = { workspace = true }
chrono = { workspace = true }
rust_decimal = { workspace = true }
sqlx = { workspace = true }
ethers = { workspace = true }
lazy_static = "1.4"
